#welcome {
  display: visible;
  }
  
#game {
display: none;
}

#result {
display: none;
}

#colorcard {
width: 400px;
height: 200px;
border: 1px solid black;
text-align: center;
font-size: 100px;
vertical-align: center;
}

#score {
text-align: center;
font-size: 50px;
}