*{
font-family: 'DM Sans', sans-serif;
}

#screenOne {
  visibility: visible;
}


#screenTwo {
  visibility: hidden;
}

#screenThree {
  visibility: hidden;
}

#screenFour {
  visibility: hidden;
}

#score {
text-align:right;
margin: auto;
font-size: 50px;
text-align: right;
padding: 1em 0 1em 0;
vertical-align:middle;
}

#colorcard {
color: white;
height: 200px;
width:800px;
background-color:red;
font-size: 100px;
text-align: center;
padding: 2em 0 2em 0;
vertical-align:middle;
margin: auto;
}

.answerbutton {
display: flex;
align-items: center;
justify-content: space-around;
gap:10px;
height: 100px;
width: 300px;
font-size:50px;
vertical-align:middle;

}



#timer {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
} 