body {
background-color: #ffed66;
font-family: Helvetica;
}

button {
font-size: 20px;
background-color: #d8d8d8;
margin-top: 10px;
margin-bottom: 10px;
cursor: pointer;
}

#instruction .explanation {
font-size: 30px;
text-align: center;
}

.rectangle {
background-color: #555;
color: red;
box-sizing: border-box;
width: 400px;
height: 200px;
font-size: 80px;
padding-top: 50px;
margin: auto;
margin-bottom: 20px;
}

#header {
text-align: center;
color: #ff5e5b;
font-size: 40px;
}

.maincontainer {
width: 800px;
margin: auto;
padding: 80px;
background-color: #ffffea;
padding-bottom: 120px;
}

#score {
text-align: right;
margin-right: 100px;
}

#colorcard {
box-sizing: border-box;
width: 400px;
height: 200px;
font-size: 80px;
padding-top: 50px;
margin: auto;
margin-bottom: 20px;
background-color: white;
}

#instruction {
display: block;
font-size: 25px;
text-align: center;
color: black;
}

#instruction p {
text-align: left;
}

img {
display: block;
margin: 30px;
}

#game {
display: none;
text-align: center;
color: black;
font-size: 20px;
}

#result {
display:none;
text-align: center;
color: #ff5e5b;
font-size: 40px;
margin: auto;
}